@use '../styles.scss' as *;

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--wd-bg-body);
  color: var(--wd-text-body);
}

.app-main {
  flex: 1;
  width: 100%;
  padding-top: var(--wd-navbar-height); 
  background-color: var(--wd-bg-body);
}
